<main class="h-screen">
  <form (ngSubmit)="criarConta()" [formGroup]="usuarioForm" class="mx-auto mt-40 w-[600px] bg-gray-200 rounded-2xl p-7">
    <h1 class="text-2xl font-semibold text-[#00043C]">Crie sua conta</h1>

    <div class="my-7 flex flex-col gap-5">
      <input
        class="bg-white p-3 text-sm placeholder:text-gray-400 text-gray-700 focus:outline focus:outline-[#00043C] rounded-md"
        type="text" placeholder="Nome" formControlName="nome">
      <input
        class="bg-white p-3 text-sm placeholder:text-gray-400 text-gray-700 focus:outline focus:outline-[#00043C] rounded-md"
        type="text" placeholder="Sobrenome" formControlName="sobrenome">
      <input
        class="bg-white p-3 text-sm placeholder:text-gray-400 text-gray-700 focus:outline focus:outline-[#00043C] rounded-md"
        type="tel" placeholder="Telefone" formControlName="telefone">
      <input
        class="bg-white p-3 text-sm placeholder:text-gray-400 text-gray-700 focus:outline focus:outline-[#00043C] rounded-md"
        type="text" placeholder="CPF" formControlName="documento">
      <input
        class="bg-white p-3 text-sm placeholder:text-gray-400 text-gray-700 focus:outline focus:outline-[#00043C] rounded-md"
        type="email" placeholder="Email" formControlName="email">
      <input
        class="bg-white p-3 text-sm placeholder:text-gray-400 text-gray-700 focus:outline focus:outline-[#00043C] rounded-md"
        type="password" placeholder="Senha" formControlName="senha">
    </div>

    <button type="submit"
      class="w-full flex items-center justify-center text-lg font-medium p-2 rounded-md bg-[#00043C] text-white cursor-pointer hover:bg-[#00043C]/90 transition-colors">
      Cadastrar
    </button>
  </form>
</main>