<div class="bg-gray-200 rounded-md p-5 h-full">
  <h4 class="text-[#00043C] text-xl font-semibold mb-1">{{grupo().nome}}</h4>
  <p class="text-zinc-400 text-xs">
    {{ grupo().descricao }}
  </p>

  <div class="mt-6 flex items-center justify-between w-full justify-items-center gap-4">
    <span class="text-zinc-800 text-sm flex-1/2 text-center">{{ grupo().cidadeOrigem }}</span>
    <ng-icon class="shrink-0 flex-auto" color="#00043C" size="20" name="lucideArrowLeftRight" />
    <span class="text-zinc-800 text-sm flex-1/2 text-center">{{ grupo().cidadeDestino }}</span>
  </div>
</div>