<header class="flex items-center justify-between py-4">
  <a href="/">
    <img src="assets/logo.svg" alt="">
  </a>

  <div class="flex items-center gap-6">
    <a class="text-base flex items-center gap-2 text-neutral-800 hover:text-[#00043C] transition-colors duration-300"
      href="/auth/sign-up">
      Criar conta
    </a>
    <a class="text-base flex items-center gap-2 text-neutral-800 hover:text-[#00043C] transition-colors duration-300"
      href="/auth/sign-in">
      Login
    </a>
  </div>
</header>

<router-outlet />