<section class="fixed inset-0 bg-black/30 z-50 flex items-center justify-center">
  <div class="p-8 bg-white shadow-2xs rounded-lg relative">
    <button
      class="absolute right-6 top-4 bg-transparent outline-none border-none cursor-pointer hover:brightness-75 transition"
      (click)="fecharModal()">
      <ng-icon size="20" name="lucideX" color="#9f0712" />
    </button>

    <h4 class="text-2xl font-medium text-[#00043C]">Criar novo grupo</h4>

    <form class="flex flex-col gap-6 mt-6 w-full">
      <div class="flex flex-col gap-4">
        <input
          class="bg-gray-200 p-3 text-sm placeholder:text-gray-400 text-gray-700 focus:outline focus:outline-[#00043C] rounded-md"
          type="text" placeholder="Nome">
        <textarea
          class="bg-gray-200 p-3 text-sm placeholder:text-gray-400 text-gray-700 focus:outline focus:outline-[#00043C] rounded-md resize-none h-[100px]"
          placeholder="Descrição"></textarea>

        <div class="flex items-center justify-center gap-4">
          <input
            class="bg-gray-200 p-3 text-sm placeholder:text-gray-400 text-gray-700 focus:outline focus:outline-[#00043C] rounded-md"
            type="text" placeholder="Origem">
          <ng-icon color="#00043C" size="20" name="lucideArrowLeftRight" />
          <input
            class="bg-gray-200 p-3 text-sm placeholder:text-gray-400 text-gray-700 focus:outline focus:outline-[#00043C] rounded-md"
            type="text" placeholder="Destino">
        </div>
      </div>

      <button
        class="w-full flex items-center justify-center text-lg font-medium p-2 rounded-md bg-[#00043C] text-white cursor-pointer hover:bg-[#00043C]/90 transition-colors mt-2">Criar</button>
    </form>
  </div>
</section>